<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358663544884-grdli6phk2l4aoojr8l7c3an55prnrpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358663544884-grdli6phk2l4aoojr8l7c3an55prnrpv</string>
	<key>API_KEY</key>
	<string>AIzaSyBEue_ig-viVUsVu3RFdLj4ewT3iBZ-gsc</string>
	<key>GCM_SENDER_ID</key>
	<string>358663544884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matchdotdog</string>
	<key>PROJECT_ID</key>
	<string>tinderfordogs-702fe</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderfordogs-702fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358663544884:ios:6fe9eecc3401be4b706a61</string>
</dict>
</plist>